@if(this.loadingEvennement){
    <div class="flex items-center gap-3">
        <app-spinner></app-spinner>
    </div>

}@else if (this.errorEvennement) {
    <p class="text-red-500">Erreur lors du chargement de l'évènement</p> <!-- Petite modale en bas a doite a mettre -->
} 
@else {
<div class="flex justify-between items-center my-6">
    <app-evennement-card
            [titre]="evennement.titre"
            [image_url]="evennement.image_url"
            [description]="evennement.description"
            [date_evennement]="evennement.date_evennement"
            [heure_debut]="evennement.heure_debut"
            [heure_fin]="evennement.heure_fin"
            [lieu]="evennement.lieu"
            >
    </app-evennement-card>
</div>
}

