<!--
Fichier : frontend/src/app/components/password-confirm-modal/password-confirm-modal.component.html
Auteur : cf ~/docs/general/participants.md
Description : Ce fichier contient le template du composant password confirm modal.
-->

<div class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden p-4">
    <div class="fixed inset-0 bg-gray-600 bg-opacity-50 transition-opacity" (click)="onCancel()"
        (keyup.enter)="onCancel()" tabindex="0" role="button">
    </div>
    <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white z-10">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Confirmation requise</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">
                    Etes-vous sur de vouloir effectuer cette action ?
                </p>
            </div>
            <div class="flex items-center gap-3 px-4 py-3">
                <button (click)="onCancel()"
                    class="px-4 py-2 bg-white text-gray-700 text-base font-medium rounded-md w-full shadow-sm border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300">
                    Non
                </button>
                <button (click)="onConfirm()"
                    class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">
                    Oui
                </button>
            </div>
        </div>
    </div>
</div>
