<!--
Fichier : frontend/src/app/app.component.html
Auteur : cf ~/docs/general/participants.md
Description : Ce fichier contient la structure HTML du composant racine.
Il organise l'affichage global du frontend.
-->

<div class="min-h-screen flex flex-col">
  <app-header></app-header>

  <main class="flex-1 flex flex-col">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>

@if (showWidgets) {
  <app-sidebar-widget 
      title="Calendrier"
      icon="fa-regular fa-calendar-days"
      position="right"
      [topOffset]="isMobile ? 120 : 140" 
      [smallWidth]="isMobile ? 320 : 450"
      [largeWidth]="800"
      [defaultOpen]="false">
      <app-calendrier></app-calendrier>
  </app-sidebar-widget>

  <app-sidebar-widget 
      title="Boutique"
      icon="fa-solid fa-cart-shopping"
      position="right"
      [topOffset]="isMobile ? 180 : 300"
      [smallWidth]="isMobile ? 320 : 400"
      [largeWidth]="600"
      [defaultOpen]="false">
      <app-hello-asso-widget></app-hello-asso-widget>
  </app-sidebar-widget>

  <app-sidebar-widget 
      title="Instagram"
      icon="fa-brands fa-instagram"
      position="right"
      [topOffset]="isMobile ? 240 : 445"
      [smallWidth]="350"
      [largeWidth]="600"
      [defaultOpen]="false">
      <app-instagram-view></app-instagram-view>
  </app-sidebar-widget>
}

<app-toast></app-toast>