<div class="fixed inset-0 bg-[var(--modal-overlay)]/50 flex items-center justify-center z-50 transition-opacity">

    <div class="bg-[#FFFBF0] rounded-xl shadow-2xl p-8 max-w-md w-full mx-4 transform transition-all scale-100">

        <h3 class="text-lg font-medium text-center text-gray-900 mb-8 leading-snug">
            {{ message }}
        </h3>

        <div class="flex justify-center gap-10">

            <button (click)="onValider()"
                class="text-white px-6 py-2 rounded-full shadow-md transition-colors duration-200 font-medium bg-[var(--error-color)] hover:bg-[var(--error-dark-color)]">
                {{ texteBoutonValider }}
            </button>

            <button (click)="onAnnuler()"
                class="bg-[var(--success-color)] hover:bg-[var(--secondary-green)] text-white px-6 py-2 rounded-full shadow-md transition-colors duration-200 font-medium">
                {{ texteBoutonAnnuler }}
            </button>

        </div>
    </div>
</div>