/**
 * Fichier : frontend/src/app/components/toast/toast.component.css
 * Auteur : cf ~/docs/general/participants.md
 * Description : Ce fichier definit les styles du composant toast.
 */

.success{
    background-color: var(--success-color) !important;
}
.error {
    background-color: var(--error-color) !important;
}
.warning {
    background-color: var(--warning-color) !important;
}
