@if (toast(); as toast) {
<div
  class="flex flex-wrap justify-between w-32 fixed bottom-4 right-4 z-50 rounded w-fit max-w-sm"
  [class]="toast.type"
>
  @if (toast.type == 'error') {
  <div class="text-white rounded-lg px-4 py-3 flex items-start gap-3">
    <p class="text-sm leading-snug break-all">{{ toast.message }}</p>
    <button class="close" (click)="close()">×</button>
  </div>
  } @else {
  <div class="text-black rounded-lg px-4 py-3 flex items-start gap-3">
    <p class="text-sm leading-snug break-all">{{ toast.message }}</p>
    <button class="close" (click)="close()">×</button>
  </div>
    }
</div>
}
