@if(this.currentUser == null && !this.isAuthenticated){
    Erreur de chargement des informations utilisateur.
}
@else {
    @if(!this.modifierMdp){
        <div class="max-w-4xl mx-auto px-4 py-8">
        <article class="bg-white rounded-2xl shadow-lg overflow-hidden">
            <div class="p-8 md:p-12">
                <h1 class="text-3xl md:text-4xl font-bold text-gray-900 mb-8 leading-tight">
                    Compte utilisateur
                </h1>
                <div class="prose max-w-none text-gray-700 text-lg leading-relaxed whitespace-pre-line">
                    @if(this.loadingUser){
                        Chargement des informations utilisateur...
                    }
                    @else if (this.erreurLoadingUser){
                        Erreur lors du chargement des informations utilisateur.
                    }
                    @else {
                        <p><strong>Nom :</strong> {{ this.currentUser?.nom }}</p>
                        <p><strong>Prénom :</strong> {{ this.currentUser?.prenom }}</p>
                        <p><strong>Email :</strong> {{ this.currentUser?.email }}</p>
                    }
                </div>
            </div>
            <div class = "flex justify-between items-center">
                <div class ="m-5" >
                    <button class="bg-[var(--primary-blue)] text-white px-6 py-3 rounded-full hover:shadow-xl transition-shadow">
                        Supprimer mon compte
                    </button>
                </div>
                <div class = "flex flex-col gap-4 m-5">
                    <button class="bg-[var(--primary-blue)] text-white px-6 py-3 rounded-full hover:shadow-xl transition-shadow" (click)="modifierMotDePasse()">Modifier mon mot de passe</button>
                    <button class="bg-[var(--primary-blue)] text-white px-6 py-3 rounded-full hover:shadow-xl transition-shadow" (click)="logout()">Deconnexion</button>
                </div>
            </div>
        </article>
    </div>
    }
    @else {
        <div class="max-w-4xl mx-auto px-4 py-8">
            <article class="bg-white rounded-2xl shadow-lg overflow-hidden">
                <form [formGroup]="modificationMdpForm" (ngSubmit)="onSubmit()" class="space-y-5 md:p-12">
                    <div class="flex justify-center align-center">
                        <h2>Modifier mon mot de passe</h2>
                    </div>
                    <!-- Mot de passe actuel -->
                    <label for="mot_de_passe_actuel" class="block text-sm font-medium text-gray-700 mb-2">Mot de passe</label>
                    <input 
                    type="password"
                    id="mot_de_passe_actuel" 
                    formControlName="mot_de_passe_actuel"
                    placeholder="••••••••"
                    class="w-full px-4 py-3 border-2 rounded-lg focus:ring-2 focus:ring-[var(--primary-blue)] focus:border-transparent outline-none transition"
                    [class.border-red-500]="mot_de_passe_actuel?.invalid && mot_de_passe_actuel?.touched"
                    [class.border-gray-300]="!mot_de_passe_actuel?.invalid || !mot_de_passe_actuel?.touched"
                    />
                    @if (mot_de_passe_actuel?.invalid && mot_de_passe_actuel?.touched) {
                    <div class="mt-1">
                        @if (mot_de_passe_actuel?.errors?.['required']) {
                        <p class="text-red-600 text-xs">Le mot de passe est obligatoire</p>
                        }
                        @if (mot_de_passe_actuel?.errors?.['minlength']) {
                        <p class="text-red-600 text-xs">Le mot de passe doit contenir au moins 8 caractères</p>
                        }
                        @if(mot_de_passe_actuel?.errors?.['pattern']) {
                        <p class="text-red-600 text-xs">Le mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial</p>
                        }
                    </div>
                    }
                    
                    <!-- Nouveau mot de passe -->
                    
                    <label for="nouveau_mot_de_passe" class="block text-sm font-medium text-gray-700 mb-2">Nouveau mot de passe</label>
                    <input 
                    type="password"
                    id="nouveau_mot_de_passe" 
                    formControlName="nouveau_mot_de_passe"
                    placeholder="••••••••"
                    class="w-full px-4 py-3 border-2 rounded-lg focus:ring-2 focus:ring-[var(--primary-blue)] focus:border-transparent outline-none transition"
                    [class.border-red-500]="nouveau_mot_de_passe?.invalid && nouveau_mot_de_passe?.touched"
                    [class.border-gray-300]="!nouveau_mot_de_passe?.invalid || !nouveau_mot_de_passe?.touched"
                    />
                    @if (nouveau_mot_de_passe?.invalid && nouveau_mot_de_passe?.touched) {
                    <div class="mt-1">
                        @if (nouveau_mot_de_passe?.errors?.['required']) {
                            <p class="text-red-600 text-xs">Le mot de passe est obligatoire</p>
                        }
                        @if (nouveau_mot_de_passe?.errors?.['minlength']) {
                            <p class="text-red-600 text-xs">Le mot de passe doit contenir au moins 8 caractères</p>
                        }
                        @if(nouveau_mot_de_passe?.errors?.['pattern']) {
                            <p class="text-red-600 text-xs">Le mot de passe doit contenir au moins une majuscule, une minuscule, un chiffre et un caractère spécial</p>
                        }
                        @if(motDePasseActuelInvalid) {
                            <p class="text-red-600 text-xs">Le nouveau mot de passe doit être différent de l'ancien</p>
                        }
                    </div>
                    }
                    <!-- Confirmation nouveau mot de passe -->
                    
                    <label for="confirmation_nouveau_mot_de_passe" class="block text-sm font-medium text-gray-700 mb-2">Confirmer le mot de passe</label>
                    <input 
                    type="password" 
                    id="confirmation_nouveau_mot_de_passe" 
                    formControlName="confirmation_nouveau_mot_de_passe"
                    placeholder="••••••••"
                    class="w-full px-4 py-3 border-2 rounded-lg focus:ring-2 focus:ring-[var(--primary-blue)] focus:border-transparent outline-none transition"
                    [class.border-red-500]="(confirmation_nouveau_mot_de_passe?.invalid && confirmation_nouveau_mot_de_passe?.touched) || passwordMismatch"
                    [class.border-gray-300]="(!confirmation_nouveau_mot_de_passe?.invalid || !confirmation_nouveau_mot_de_passe?.touched) && !passwordMismatch"
                    />
                    @if (confirmation_nouveau_mot_de_passe?.invalid && confirmation_nouveau_mot_de_passe?.touched) {
                    <div class="mt-1">
                        @if (confirmation_nouveau_mot_de_passe?.errors?.['required']) {
                        <p class="text-red-600 text-xs">La confirmation est obligatoire</p>
                        }
                    </div>
                    }
                    @if (passwordMismatch) {
                    <div class="mt-1">
                        <p class="text-red-600 text-xs">Les mots de passe ne correspondent pas</p>
                    </div>
                    }
                    <div class = "flex justify-between align-center">
                        <button (click)="annulerModification()" type="button">Annuler</button>
                        <button type="submit" [disabled]="modificationMdpForm.invalid">Enregistrer</button>
                    </div>
                    
                </form>
            </article>
        </div>
    }
}