<app-header></app-header>
<div class="flex justify-between items-center my-6">
    <h1>Les actualités</h1>
    <button class="bg-gray-200 rounded hover:shadow" routerLink="/actualites">Voir toutes les actualités</button>
</div>
<div class="flex text-center">
    <app-actualite-card
[titre]='"test"'
[contenu]='"Loreum ipsum dolor sit amet, consectetur adipiscing elit. balalalalalalalalalalllllllllllllllaaaa"'
[datePublication]="Date"></app-actualite-card>
</div>

@if(this.listeActualites){

    @for(actualite of this.listeActualites.slice(0, 3); track actualite.id_actualite){
        <app-actualite-card 
            [titre]="actualite.titre"
            [image_url]="actualite.image_url">
        </app-actualite-card>
    } 
}
@else {
    <p>Aucune actualité disponible pour le moment.</p>
}
<div class="row justify-center">
    <h2>Les évènements</h2>
    <button class="btn btn-primary" routerLink="/evennements">Voir tous les évènements</button>
</div>
@if(this.listeEvennements){
    @for(evennement of this.listeEvennements.slice(0,3); track evennement.id_evennement){
        <app-evennement-card
            [titre]="evennement.titre"
            [image_url]="evennement.image_url"
            [description]="evennement.description"
            [date_evennement]="evennement.date_evennement"
            [id_evennement]="evennement.id_evennement"
        ></app-evennement-card>
    }
}
@else {
    <p>Aucun évènement disponible pour le moment.</p>
}
<app-footer></app-footer>