<app-header></app-header>
<div class="row justify-center">
    <h2>Les actualités</h2>
    <button class="btn btn-primary" routerLink="/actualites">Voir toutes les actualités</button>
</div>
@if(this.listeActualites){

    @for(actualite of this.listeActualites; track actualite.id_actualite){
        <app-actualite-card 
            [titre]="actualite.titre"
            [image_url]="actualite.image_url">
        </app-actualite-card>
    }
}
@else {
    <p>Aucune actualité disponible pour le moment.</p>
}
<div class="row justify-center">
    <h2>Les évènements</h2>
    <button class="btn btn-primary" routerLink="/evennements">Voir tous les évènements</button>
</div>
@if(this.listeEvennements){
    @for(evennement of this.listeEvennements; track evennement.id_evennement){
        
    }
}
@else {
    <p>Aucun évènement disponible pour le moment.</p>
}
<app-footer></app-footer>